<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.italent">

    <application
        android:allowBackup="true"
        android:icon="@drawable/italent"
        android:label="@string/app_name"
        android:roundIcon="@drawable/italent"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Follower.FollowingActivity"
            android:theme="@style/AppTheme.NoActionBar"
            ></activity>
        <activity android:name=".Follower.FollowersActivity"
            android:theme="@style/AppTheme.NoActionBar"
            />
        <activity
            android:name=".home.VideoActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".home.HomeActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".settings.SettingActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".add.AddActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".profile.ProfileActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".competition.CompetitionActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".StartActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".SingUb"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".SignIn"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".SplashActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>